/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 29, 2024, 8:16:41 PM
    Author     : user
*/
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


nav > ul > li > a.active{
    color: #B2997F;
}

header .logo img {
    height: 50px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #f9f9f9;
}

.container {
    width: 100%;
    max-width: 1200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.title h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.contact_form {
    margin-bottom: 30px;
}

.contact_form .form_group {
    margin-bottom: 15px;
}

.contact_form .form_group label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.contact_form .form_group input, .contact_form .form_group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.contact_form .form_group button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contact_form .form_group button:hover {
    background-color: #555;
}

.map_section {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

footer p {
    margin: 0;
}

footer .social-media {
    margin-top: 10px;
}

footer .social-media a {
    margin: 0 10px;
    display: inline-block;
}

footer .social-media img {
    width: 24px;
    height: 24px;
}

.footer_content p {
    margin: 5px 0;
}

.footer_content a {
    color: #ffffff;
    text-decoration: none;
}

.footer_content a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}

